.container{
box-sizing: border-box;
display: flex;
flex-direction: column;
margin: 0%;
padding: 0%;
align-items: center;
}

.header{
background-color: #1f2937;
}

.logo{
color: #f9faf8;
}

a{
    color: #f9faf8;

}

.awesome{
    color: #f9faf8;
}

.random{
align-self:center;
}

.para-1{

}

 button{
    background-color: white;
    border-color: #3882f6;
    padding: 50px;
    border-radius: 8px;
    border-style: solid;
    margin: 10px;
    
}
.button-1{
    
}

.button-1, .button-2{
background-color: #3882f6;
color: #f9faf8;
border-radius: 6px;
padding: 2px 10px;
    

}

.boxes{

}

/*.box-1.box-2.box-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}*/

span{
    font-weight: bolder;

}

.para-2{
background-color: #e5e7eb;
margin: 150px;
padding: 50px;
}

.para-3{
    background-color:  #3882f6;
    }

.sign-up{

}

.button-2{
}

.footer{
color: white;
background-color: #1f2937;
padding: 25px 350px;

}
